html,body{
    margin: 0;
    padding: 0;
    font-family:monospace monospace;
}

body{
    background-color: hsl(30, 38%, 92%);
    width: 100vw;
    height: 100vh;
}
*{
    box-sizing: border-box;
}
main{
    display:flex;
    align-items:center ;
    justify-content:center;
    width: 45rem;
    height: 30rem;
    background-color:#f4ebe4;
    margin: auto;
    
}
.section1{
    width: 20rem;
    height: 30rem;
    
}
.section1 img{
    height: 100%;
    width: 100%;
    border-radius: 5px 0 0 5px;

}
.section2{
    width:20rem ;
    height: 30rem;
    background-color:white;
    padding: 2rem;
    border-radius:0 5px 5px 0 ;

}
.perfume,
.solar{
    color:#adacb1;

}
    
    

.pricing{
    display: flex;
    align-items: center;
    gap: 1rem;


}
.first-price{
    color:#073a29;
    font-size: 1.5rem;
    font-weight:bolder ;
}
.button-wrapper{
    display: flex;
    align-items: center;
    background-color:#073a29 ;
    justify-content: center;
    padding: 5px 0 5px 0;
    border-radius: 5px;
    cursor: pointer;


}
.button-wrapper img{
    width: 1rem;
    height: 2rem;

}
button{
    border:none;
    background-color: transparent;
    color: white;
}

